@model AppUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/OuterTools/movie_review/images/logo@2x.png">
    <title>Giriş Yap</title>
    <!-- Bootstrap core CSS -->
    <link href="~/OuterTools/movie_review/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/OuterTools/movie_review/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    @*<link href="~/OuterTools/movie_review/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />*@
    <!-- Custom styles for this template -->
    <link href="~/OuterTools/movie_review/css/style.css" rel="stylesheet">
    <link href="~/OuterTools/movie_review/css/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">
    <div class="container">

        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h2 class="form-signin-heading">Hoşgeldiniz! Giriş Yapın</h2>
            <div class="login-wrap">
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "Kullanıcı İsmi" })

                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Şifre" })

                <label class="checkbox">
                    @Html.CheckBox("Hatirla") Beni Hatırla
                    <span class="pull-right">
                        <a href="/Home/ForgotPassword" data-toggle="modal"> Şifremi Unuttum</a>
                    </span>
                </label>
                <button class="btn btn-lg btn-login btn-block">Giriş Yap</button>
                <div class="registration">
                    Hesabınız yok mu ?
                    @Html.ActionLink("Hesap Oluştur", "Register")

                    <h1 style="color:red;width:317px;height:50px;font-size:21px;"> @ViewBag.KullaniciBulunamadi</h1>
                    <h1 style="color:green;width:317px;height:50px;font-size:21px;"> @TempData["SifremiUnuttum"]</h1>
                
                </div>
            </div>
            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Forgot Password ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Enter your e-mail address below to reset your password.</p>
                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                            <button class="btn btn-success" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        }
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/OuterTools/FlatAdmin/js/jquery.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/bootstrap.min.js"></script>

</body>
</html>
