@model Cart
@{
    ViewBag.Title = "TicketPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap DatePicker</title>

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<style>
    .seat {
            height: 40px;
            width: 40px;
            border: 1px solid gray;
           cursor:pointer;
           background-color:white;
        }
        .walk{
            padding-left:20px;
        }
</style>

@using (Html.BeginForm())
{
    <div class="row movie-list">
        @foreach (CartItem item in Model.Sepetim)
        {
            <div class="col-md-4" style="background-position-x:right;background-position-y:right">
                <section class="panel">
                    <div style="border:1px solid gray; width:130px;"> @*Bu kısım karelerin gelmesini sağlıyor.For döngüsü içine alınarak sayılar yazdırılabilir.ChooseSeat mantığıyla çalışır.Her dive tek tek id vermekte bir çözüm.*@
                        <table>
                            <tr>
                                <td><div class="">A</div></td>
                                <td><div class=""></div> </td>
                                <td><div class=""></div></td>
                                <td><div class="">A</div></td>
                                <td><div class=""></div> </td>
                                <td><div class=""></div></td>

                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>

                            </tr>
                            <tr>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>

                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>

                            </tr>
                            <tr>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>

                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                            </tr>
                            <tr>
                                
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>

                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                            </tr>
                            <tr>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>

                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                            </tr>
                            <tr>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>

                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                            </tr>
                            <tr>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div> </td>
                                <td><div class="seat"></div></td>

                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                                <td><div class="seat"></div></td>
                            </tr>  
                        </table>
                    </div>
                    @for (int i = 0; i < 49; i++)
                    {


                        if (item.ChairID + i == @i && item.EmptyControl == true)
                        {
                                

                            <button type="button" onclick="myFunction()" id="@i" style="background-color:green;color:red">@i.ToString()</button>
                            <script>
                                function myFunction() {

                                    document.getElementById('@i').style.backgroundColor = "red";

                        }
    
                            </script>

                        }
                        else
                        {
                            <button disabled id="@i" style="background-color:red;color:white">@i.ToString()</button>

                        }
                    }

                    <br />
                    <br />
                    <button disabled style="background-color:black;color:white;position:relative;left:30px;width:300px;height:28px;"><h3>P  E  R  D  E</h3></button>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel ">
                    <div class="pro-img-box ">
                        <img style="width:366px;height:255px;" src="@item.ImagePath" />

                        <a href="@Url.Action("DeleteFromCart", "Member", new { id = item.ID })">

                        </a>


                    </div>

                    <!-- create datepicker whenever you need, i'm creating on document ready-->


                    <div class="panel-body text">
                        <h4>
                            <a href="/Member/SingleMovie/@item.ID" class="pro-title">
                                @item.Name
                            </a>
                        </h4>
                       
                        @item.Date.ToString("dd HH:mm:")

                        <input id="datepicker" width="270" />
                        <script>
                            //$('#datepicker').datepicker({

                            //    uiLibrary: 'bootstrap',
                            //    dateFormat: 'dd-mm-yyyy',
                            //    changeMonth: true,
                            //    changeYear: false,
                            //    yearRange: '-1:+1',
                            //    minDate: (08 / 10 / 2019)


                            //});
                             var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), date.getDay);
        var bitisTarihi = new Date();
        var year = bitisTarihi.getFullYear() + 1;
        var mounth = bitisTarihi.getMonth() + 1;
        var today = bitisTarihi.getDate();

        if (mounth < 10) {
            mounth = '0' + mounth;
        }
        if (today < 10) {
            today = '0' + today;
        }
        var firstYear = today + "/" + mounth + "/" + year;
      
        $('#datepicker').datepicker("setDate", firstDay);25/06/2019
                            $('#datepicker').attr("value", firstYear);
                        </script>
                        @*<input type="text" id="datetime" readonly>
                        <script>
                             var today = new Date();
    $("#datetime").datetimepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayBtn: true,
        startDate: today,
         weekStart: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
        
    });
                        </script>*@
                        

                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">@Html.ActionLink("İptal Et", "Movies", "Member", null, new { @class = "btn btn-navbar" })</button>
                            <button style="background-color:green;color:wheat;" type="button">
                                @Html.ActionLink("Bilet AL", "SiparisiOnayla") </button>
                        </div>
                        <button style="background-color:darkred;color:black;" type="button">@Html.ActionLink("Koltukları buraya tıklayarak görebilirsiniz", "ChooseSeat")</button>
                    </div>
                </section>
            </div>
        }

    </div>

}
<script>
    allSeats = document.querySelectorAll('.seat');
        for (var i = 0; i < allSeats.length; i++) {
            var seat = allSeats[i];
            seat.addEventListener('click', function () {
                var bgclr = this.style.backgroundColor;
                if(bgclr =='red')
                    this.style.backgroundColor = 'white'
                else
                    this.style.backgroundColor = 'green'
                debugger
            }, false);
        }


    //$(function () {
    //    var bindDatePicker = function () {
    //        $(".date").datetimepicker({
    //            format: 'YYYY-MM-DD',
    //            icons: {
    //                time: "fa fa-clock-o",
    //                date: "fa fa-calendar",
    //                up: "fa fa-arrow-up",
    //                down: "fa fa-arrow-down"
    //            }
    //        }).find('input:first').on("blur", function () {
    //            // check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
    //            // update the format if it's yyyy-mm-dd
    //            var date = parseDate($(this).val());

    //            if (!isValidDate(date)) {
    //                //create date based on momentjs (we have that)
    //                date = moment().format('YYYY-MM-DD');
    //            }

    //            $(this).val(date);
    //        });
    //    }

    //    var isValidDate = function (value, format) {
    //        format = format || false;
    //        // lets parse the date to the best of our knowledge
    //        if (format) {
    //            value = parseDate(value);
    //        }

    //        var timestamp = Date.parse(value);

    //        return isNaN(timestamp) == false;
    //    }

    //    var parseDate = function (value) {
    //        var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
    //        if (m)
    //            value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

    //        return value;
    //    }

    //    bindDatePicker();
    //});

</script>